CuttingResourcesImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <!-- 
  Units: 
      The values for all the parameters having units are defined as string type. 
      This string needs to contain both the real value followed by unit. 
      For example: 3mm or 3cm or 3m etc. in case of parameters with length unit. 

  RESOURCE_ID: 
        Unique identifier for the resource. This id is used to refer to the resource within the xml. 
        For example, tool assembly can refer its tool using resource id for tool.
        
  V6_3DEXP_PLMID:
          Represents the PLM ID for the resource created in DELMIA. 
          This attribute for the resource will be automatically filled in output XML file generated by the command: "Import cutting resources from external source".
          If this attribute is not defined or is empty, then, the resource will be created newly. 
          If this attribute contains a valid PLM ID, then, the corresponding resource will be considered for update.
            
  V6_3DEXP_PHYSID: Useless for Import
            
  V6_3DEXP_NEED_TO_UPDATE: 
           An integer value with 0 or 1 values. 
           0 value or attribute not defined in xml indicates that the resource need not be updated.
           1 value indicates that the resource needs to be updated. In this case, a valid value for V6_3DEXP_PLMID must be defined in xml.
           1 value for this attribute and if valid value for V6_3DEXP_PLMID is specified, then, the corresponding existing resource in Delmia will be updated with parameter values specified in xml.
               
  MFG_IMPORT_FROM_ISO:
          Boolean attribute to indicate whether the resource consists of user reps with ISO convention.
          If this attribute is set to true, then, all the user reps are considered to be of ISO type.
          For the import of user reps under ISO resource, some attributes are not considered such as WorkpieceSidePort, MachineSidePort, MatchedMachineSideAxis, MatchedWorkpieceSideAxis etc.
          The user rep is brought under resource and automatically some transformation is applied based on CIP, MCS, PCS axes present under the ISO user rep.

  REVISION:
		  Attribute value is used for identification of the right component and not for setting the revision.
		  Since multiple revisions of resource can be available for a V6_3DEXP_PLMID of resource in database, user can specify the revision to identify the appropriate revision of the existing resource. In other words, this attribute is to retrieve the existing resource of particular revision. This attribute is NOT to set revision to the resource.

-->

  <xs:include schemaLocation="CuttingResourcesCommon.xsd" />

  <xs:complexType name="p21Items">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="p21Item">
        <xs:complexType>
          <xs:attribute name="RESOURCE_ID"             type="xs:string"  use="required" />
          <xs:attribute name="p21File"             type="xs:string"  use="required" />
		  <xs:attribute name="V6_3DEXP_PLMID"          type="xs:string"  />
		  <xs:attribute name="REVISION"       			type="xs:string"  />
		  <xs:attribute name="V6_3DEXP_NEED_TO_UPDATE"   type="xs:integer" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="MfgResources">
    <xs:complexType>
      <xs:all>
        <xs:element name="p21Items" type = "p21Items"  minOccurs="0"/>
        <xs:element name="NCTools" type = "NCTools"/>
        <xs:element name="NCInserts" type = "NCInserts"/>
        <xs:element name="NCHolders" type = "NCHolders"/>
        <xs:element name="NCAssemblies" type = "NCAssemblies"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
